#cardPaket a {
    background-color: #fdba12;
}
  
  #cardPaket a:hover {
    background-color: #f3950d;
  }

  /* .inner {
    overflow: hidden;
  }
.inner img {
  transition: all 1.5s ease;
  
}
.inner img:hover {
  transform: scale(1.2);
  filter: brightness(0.7);
} */

.poductsCard {
  border: none;
  /* border-radius: 20px; */
  transition: all 0.7s;
  cursor: pointer
}

.poductsCard:hover {
  transform: scale(1.1)
  
}
